[submodule "Game X Engine/3rdParty/ImGUI"]
	path = Game X Engine/3rdParty/ImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "Game X Engine/3rdParty/glm"]
	path = Game X Engine/3rdParty/glm
	url = https://github.com/g-truc/glm.git
