[submodule "Game X Engine/3rdParty/ImGUI"]
	path = Game X Engine/3rdParty/ImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "Game X Engine/3rdParty/glm"]
	path = Game X Engine/3rdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Game X Engine/3rdParty/ImGuizmo"]
	path = Game X Engine/3rdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Game X Engine/3rdParty/par"]
	path = Game X Engine/3rdParty/par
	url = https://github.com/prideout/par.git
[submodule "Game X Engine/3rdParty/debug-draw"]
	path = Game X Engine/3rdParty/debug-draw
	url = https://github.com/glampert/debug-draw/
[submodule "imgui-filebrowser"]
	path = imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
